# Folders
**/.mypy_cache/
**/__pycache__/

.git/
.github/
.venv/
.vscode/

build/
dist/

data/assets/
screenshots/

# Files
.dockerignore
.gitignore
.gitattributes
.editorconfig
build*
diagram.puml
docker-compose.yml
Dockerfile
LICENSE
README.md

data/settings.json
data/worlds/level_editor_world.json
